{% extends "contenido/encabezado.html" %}

{% block titulo %}Cursos{% endblock %}
{%block imagen%} {%load static%} {%static 'contenido/images/registrar.png'%}
{%endblock%}
{% block texto %}
Cursos <span>Lista de cursos</span>
{% endblock %}

{% block contenido %}
{% block nav %}
<div class="breadcrumb-line">
  <ul class="breadcrumb">
    <li>
      <a href="{% url 'Principal' %}">Principal</a>
    </li>
    {% if request.path != '/' %}
      <li class="breadcrumb-separator">/</li>
      <li class="current-page">{{ request.path|slice:"1:" }}</li>
    {% endif %}
  </ul>
</div>
{% endblock %}
<div class="curso-section">
  <h2 class="titulo-cursos">A continuación verás una lista de cursos disponibles</h2>
  <ul class="lista-cursos">
    <li>Base de Datos</li>
    <li>Programación</li>
    <li>Redes</li>
    <li>Ciencia de Datos</li>
    <li>Inteligencia Artificial</li>
  </ul>
</div>
{% endblock %}
